/**
 * @license EUPL-1.2+
 * Copyright Gemeente Amsterdam
 */

import clsx from 'clsx'
import { forwardRef } from 'react'
import type { ForwardedRef, HTMLAttributes, PropsWithChildren } from 'react'

export type {{pascalCase name}}Props = PropsWithChildren<HTMLAttributes<HTMLElement>>

export const {{pascalCase name}} = forwardRef(
  ({ children, className, ...restProps }: {{pascalCase name}}Props, ref: ForwardedRef<HTMLElement>) => (
    <span {...restProps} ref={ref} className={clsx('ams-{{kebabCase name}}', className)}>
      {children}
    </span>
  ),
)

{{pascalCase name}}.displayName = '{{pascalCase name}}'
